@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Barlow';
  line-height: 1.5;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  background-color: transparent;
  position: absolute;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__hamburger {
  display: none;
  margin-right: 20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.navbar__mobile {
  display: none;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  text-align: center;
  padding: 20px;
}

.navbar__image {
  fill: white;
}

.navbar__link {
  display: inline-block;
  padding: 7px 15px;
  color: white;
}

.navbar__link--special {
  background-color: white;
  color: black;
  padding: 7px 15px;
  margin: 0 10px;
  border-radius: 15px;
}

.navbar__link--special:hover {
  background-color: #6fcfff;
}

.navbar__link--special--mobile {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  background-color: orange;
  padding: 10px 30px;
  border-radius: 20px;
  color: black;
}

.navbar__link--mobile {
  display: block;
  color: grey;
  padding: 10px;
}

.header {
  background: url("images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header__text {
  margin-bottom: 3%;
  font-family: 'Fraunces';
  color: white;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "text1 photo1";
  font-size: 18px;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
}

.content__container--photo1 {
  background: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  height: 50vw;
  position: relative;
}

.content__container--photo1 .content__header {
  color: #205247;
}

.content__container--photo1 .content__text {
  color: #377566;
}

.content__container--photo2 {
  background: url("images/desktop/image-photography.jpg");
  background-size: cover;
  height: 50vw;
  position: relative;
}

.content__container--photo2 .content__header {
  color: #1f536d;
}

.content__container--photo2 .content__text {
  color: #0f5a81;
}

.content__header {
  font-family: 'Fraunces';
  font-size: 3rem;
  color: #23303E;
}

.content__image {
  width: 100%;
  height: 100%;
}

.content__link--yellow {
  color: #23303E;
  font-family: 'Fraunces';
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-top: 20px;
}

.content__link--yellow:hover {
  margin-top: 15px;
  border-bottom: 5px solid #fed200;
}

.content__link--red {
  color: #23303E;
  font-family: 'Fraunces';
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-top: 20px;
}

.content__link--red:hover {
  margin-top: 15px;
  border-bottom: 5px solid #ff7163;
}

.content__text {
  margin-top: 20px;
  color: #858383;
}

.photo__content {
  position: absolute;
  top: 65%;
  width: 80%;
  left: 10%;
  text-align: center;
}

.clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 100px;
}

.clients-container__header {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: grey;
  padding: 30px;
}

.clients-container__client {
  width: 30%;
  height: 70%;
}

.client__photo {
  width: 80px;
  border-radius: 100%;
}

.client__opinion {
  color: #858383;
  padding: 30px;
}

.client__name {
  font-family: 'Fraunces';
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.client__job {
  color: grey;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__image {
  width: 25%;
}

.footer {
  background-color: #a1ddcf;
  text-align: center;
}

.footer__header {
  margin-top: 50px;
  fill: #2C7566;
}

.footer__links {
  margin-top: 15px;
}

.footer__socials {
  margin-top: 40px;
}

.footer__link {
  color: #2C7566;
  padding: 0 10px;
}

.footer__link:hover {
  color: white;
}

.footer__svg {
  fill: #2C7566;
}

.footer__svg:hover {
  fill: white;
}

@media (max-width: 980px) {
  .navbar__link, .navbar__link--special {
    display: none;
  }
  .navbar__hamburger {
    display: block;
  }
  .content, .clients-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .content__link--yellow, .content__link--red {
    margin: 0 auto;
    margin-top: 20px;
  }
  .clients-container {
    padding: 30px;
  }
  .clients-container__client {
    width: 100%;
    padding: 20px;
  }
  .client__name {
    margin-top: 0;
  }
  .clients-container__header {
    padding: 0px;
  }
  .content__container--photo2, .content__container--photo1 {
    background-position: top;
    height: 75vh;
  }
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__image {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .content__container--photo2, .content__container--photo1 {
    height: 100vh;
  }
  .photo__content {
    top: 55%;
  }
}
/*# sourceMappingURL=main.css.map */